:root {
    --second-color: #212121;
    --main-color: #757575;
    --main-fs: 14px;
    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --hero-color: #303030;
    --hover-btn-color: #188ce8;
    --icon-color: #F5F4FA;
    --client-logo-color: #AFB1B8;
}